@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&family=Open+Sans:ital,wght@0,800;1,600;1,700;1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles*/

.orange-itmes{
    color: #FF5400;
}

.text-light-gray{

}


/* navbar style here*/

.header-section{
    max-width: 990px;
    /* border: 1px solid firebrick; */
    display: flex;
    margin: 20px auto;
}

.travel-container{
    /* border: 1px solid tomato; */
    
    min-height: 18px;
    display: flex;
    align-items: center;
    width: 50%;
}
.travel-container img {
    width: 40px;
}
.travel-container h1 {
    font-size: 36px;
    font-weight: 800;
    
}

.items-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 40px;
    
}

.items-container li {
    padding-left: 30px;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    color: #424247;        
}

/* banner style here*/

.banner-section{
    border-radius: 15px;
    background-image: url(../images/travel.png);
    background-position: center; 
    max-width: 990px;
    width: 100%;
    height: 500px;
    margin: 20px auto;  
}

.banner-itmes{
    padding: 102px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-section p {
    text-align: center;
    color: #FFF;
    padding: 24px;
}

.banner-btn{
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    gap: 24px;
}

.banner-btn a {
    text-decoration: none;
    color: rgba(19, 19, 24, 0.50);
}

.btn-primary{
    border: 0px;
    border-radius: 8px;
    padding: 16px;
    padding-right: 84px;
}

.btn-primar-2{
    background-color: #FF5400;
    border: 0px;
    border-radius: 8px;
    padding: 16px;
    padding-right: 84px;
}

/*responsive media queries*/
/* mobiel devices*/


@media screen and (max-width: 576px) {
    .header-section {
        margin-left: 65px;
        flex-direction: column;
    }
    .items-container{
        flex-direction: column;
    }
}













/* tablet medium devices*/

@media screen and (min-width: 576) and (max-width: 960px) {

}